{% extends 'easy_admin/layout.html.twig' %}

{% block page_title %}Calendario{% endblock %}
{% block content_title %}Calendario{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/fullcalendar.css') }}">
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
    <script src="{{ asset('build/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}


{% block main %}
    <div id="calendar"></div>
{% endblock %}